{% extends "base.html" %}
{% comment %} 
{% block title %}Reset Your password{% endblock %}

{% block content %}

<div class="header-bar">
    <a href="{% url 'login' %}">&#8592; Back</a>
    <h1>Forgotten Your Password?</h1>
</div>

<div class="card-body">
    <p>Enter your e-mail address to obtain a new password</p>
    <form method="post">
        {{ form.as_p }}
        <p><input class="button" type="submit" value="send e-mail"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock %} {% endcomment %}









{% block title %}Reset Your Password{% endblock %}

{% block content %}

<div class="header-bar">
    <a href="{% url 'login' %}">&#8592; Back</a>
    <h1>Forgotten Your Password?</h1>
</div>

<div class="card-body">
    <p>Enter your e-mail address to obtain a new password</p>
    <form method="post">
        <div class="email-input-container">
            <label for="emailField">Email:</label>
            <div class="oval-input">
                {{ form.email }} <!-- Assuming 'email' is the name of the field -->
            </div>
        </div>
        <p><input class="button" type="submit" value="send e-mail"></p>
        {% csrf_token %}
    </form>
</div>

{% endblock %}

